<!--Utiliser la methode "String interpolation"-->
<!--<div class="face-snap-card">
    <h1>show data with string interpolation</h1>
    <h2>{{ title }}</h2>
    <p>Mise en ligne le : {{ createdDate }}</p>
    <img src="{{ imageUrl }}" alt=" {{ title }}"/>
    <p> {{description}} </p>
    <p> {{snaps}} </p>
</div>-->

<!--Utiliser la methode "attribute binding"-->
<div class="face-snap-card" [ngClass]="{ snapped: btnText === 'UnSnap' }">
    <h2>{{ faceSnap.title | uppercase }}</h2>
    <p> {{ faceSnap.description | titlecase }} </p>
    <button (click)="onViewFaceSnap()">VIEW</button>
</div>

